.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
wandb/
*.log

# Ignore contents of these folders, but keep the folders themselves
results/raw/*
!results/raw/.gitkeep
checkpoints/*
!checkpoints/.gitkeep

# Ignore other result files if you don't want them tracked
results/processed/*.csv
results/figures/*.png
results/figures/*.pdf

.DS_Store